.App {
  background-color: #282c34;
  background-image: url("../../public/backgroundImages");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
